// app global css in SCSS form

.bg-main {
    background-color: #1f1f1f !important;
}

.bg-editor {
    background-color: #262922;
}

.tab-active {
    background-color: #262922;
    .q-tab__indicator {
        background: transparent;
    }
}

.q-tree__node--selected {
    background-color: #262922 !important;
}
